<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.lealweb.aventuradoconhecimento.jogomemoria">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:screenOrientation="landscape"
            android:name=".MemoryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
            </intent-filter>
        </activity>

        <activity android:name=".ListHighScoresActivity" android:theme="@android:style/Theme.Dialog"/>
    </application>

</manifest>
